.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  /*color: #85b1f7;*/
  color: #7fbfe2;
  font-size: 50px;
  font-family: "Latos", sans-serif;
  text-shadow: 2px 2px grey;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.canvas-container {
  margin: 0 50px 0 50px;
  border: 2px solid #000;
  display: flex;
}

body {
  background-image: url("../images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #85b1f7;
  text-shadow: 1px 1px black;
}

button:hover {
  background-color: #5793f4;

}
.score-box {
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #85b1f7;
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-top: 10px;
  border-color: #000;
  box-shadow: 0 0 0 2px #85b1f7, 0 0 0 5px #ddd, 0 0 0 10px #85b1f7, 0 0 2px 10px #eee;
  text-shadow: 1px 1px grey;
}

.time-box {
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #85b1f7;
  text-align: center;
  font-size: 24px;
  color: #fff;
  box-shadow: 0 0 0 2px #85b1f7, 0 0 0 5px #ddd, 0 0 0 10px #85b1f7, 0 0 2px 10px #eee;
  text-shadow: 1px 1px grey;
}

h3 {
  margin: 5px;
}

#gems-bag {
  width: 150px;
}
