.title {
  color: #7fbfe2;
  font-size: 50px;
  font-family: "Latos", sans-serif;
  margin-bottom: -60px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body {
  background-image: url("https://res.cloudinary.com/dogzxn5h4/image/upload/v1490979047/images/1_vmyt2d.png");
  // background-image: url("../images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
